# Application
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME"

# Frontend
CLIENT_URL="http://localhost:5173"
CLIENT_ORIGIN="http://localhost:5173"

# JWT
JWT_ACCESS_SECRET="replace-with-a-random-secret-at-least-32-characters-long"
JWT_REFRESH_SECRET="replace-with-a-different-random-secret-at-least-32-characters-long"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"

# GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL="http://localhost:3000/auth/github/callback"

# Email
# Set to true only if you want email verification,
# password reset, and email change functionality.
EMAIL_ENABLED=false

# Required when EMAIL_ENABLED=true

# Email
RESEND_API_KEY=""
EMAIL_FROM=""

# Frontend URLs
PASSWORD_RESET_URL="http://localhost:5173/reset-password"
EMAIL_CHANGE_URL="http://localhost:5173/change-email"